@font-face{
font-family:TanukiMagic;
src:url('../style/TanukiMagic.ttf') format("truetype");}
body{
    background:url('../img/paper_fibers.png') repeat;
    margin:0;
}
h1{
    font-family:TanukiMagic;
    color:white;
    text-shadow: 3px 3px 3px rgb(128,0,0), -1px -1px 0px rgb(51, 51, 51), 1px -1px 0px rgb(51, 51, 51), -1px 1px 0px rgb(51, 51, 51), 1px 1px 0px rgb(51, 51, 51);
    margin:0;
    padding:5px 0 5px 16px;
    background-image: -moz-linear-gradient(bottom, rgb(117,75,13) 15%, rgb(245,187,86) 49%, rgb(242,209,138) 84%, rgb(247,222,172) 91%);
}
h2{
    font-family:TanukiMagic;
    font-size:14px;
}
#wrapper{
    padding:0 10px;
}
input[type="button"]{
    border: medium none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgb(141, 182, 250), 1px 1px 1px rgb(141, 182, 250);
    background: linear-gradient(to bottom, rgb(208, 228, 247) 0%, rgb(149, 193, 229) 24%, rgb(99, 161, 211) 50%, rgb(83, 159, 225) 79%, rgb(135, 188, 234) 100%) repeat scroll 0% 0% transparent;
}
#test{
    display:none;
    background-color: rgb(39, 97, 149);
    background-repeat: repeat-x;
    background-image: linear-gradient(rgb(60, 136, 204), rgb(39, 97, 149));
    padding:20px 0;
}
#memo,article textarea{
    width:100%;
}
.memo-article{
    margin:10px 0px;
}
.title{
    width:100%;
}
.delete{
    height:12px;
    float:right;
}